body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-modal-header{
  background: #E7404E !important;
  color: #FFF !important;
}

.ant-modal-body{
  background-color: #DEE0E0;
}

.cred-form, .comp-form{
  padding-bottom: 40px !important;
}

#root, .ant-layout{
  height:100%;
}